language: java

cache:
  directories:
    - $HOME/travis

jdk:
  - oraclejdk8

env:
  - JDK=oraclejdk8 TARGET="dist-optimized"
  - JDK=oraclejdk8 TARGET="test-single     -Dtest.family=unit"
  - JDK=oraclejdk8 TARGET="test-single     -Dtest.family=functional"
  - JDK=oraclejdk8 TARGET="test-single     -Dtest.family=performance -Dtest.coverage=false"
  - JDK=oraclejdk8 TARGET="test-it"
  - JDK=oraclejdk9 TARGET="dist-optimized  -Djavac.compiler=javac1.9"
  - JDK=oraclejdk9 TARGET="test-single     -Djavac.compiler=javac1.9 -Dtest.family=unit"
  - JDK=oraclejdk9 TARGET="test-single     -Djavac.compiler=javac1.9 -Dtest.family=functional"
  - JDK=oraclejdk9 TARGET="test-single     -Djavac.compiler=javac1.9 -Dtest.family=performance -Dtest.coverage=false"
  - JDK=oraclejdk9 TARGET="test-it         -Djavac.compiler=javac1.9"

script:
  - travis/run.sh

